# Python bytecode / cache
__pycache__/
*.pyc

# Virtual environment
venv/

# Instance / Local database files
instance/

.env
serviceAccountKey.json
lib/firebase_options.dart
e_insights/functions/.env 